<section id="home" data-type="background" data-speed="10" class="pages">
  <a id="about" class="smooth"></a>
  <article>
    <h1>Simia Capital</h1>
    <h2>PIONEERS IN THE FUTURE OF AGRICULTURE</h2>
    <div class="box callout secondary medium-4 columns">
      <h5>This is a secondary panel</h5>
      <p>It has an easy to override visual style, and is appropriately subdued.</p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
    <div class="box callout secondary medium-4 columns">
      <h5>This is a secondary panel</h5>
      <p>It has an easy to override visual style, and is appropriately subdued.</p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
    <div class="box callout secondary medium-4 columns">
      <h5>This is a secondary panel</h5>
      <p>It has an easy to override visual style, and is appropriately subdued.</p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
  </article>
</section>

<section id="about" data-type="background" data-speed="10" class="pages">
  <a id="portfolio" class="smooth"></a>
  <article>Simple Parallax Scroll</article>
</section>

<section id="contact" data-type="background" data-speed="10" class="pages">
  <a id="contact" class="smooth"></a>
  <article>
    <%= render 'contacts/form' %>
  </article>
</section>
