<section id="home" data-type="background" data-speed="10" class="pages">
  <a id="about" class="smooth"></a>
  <article>I am absolute positioned</article>
</section>

<section id="about" data-type="background" data-speed="10" class="pages">
  <a id="portfolio" class="smooth"></a>
  <article>Simple Parallax Scroll</article>
</section>

<section id="contact" data-type="background" data-speed="10" class="pages">
  <a id="contact" class="smooth"></a>
  <article>
    <%= form_for %>
  </article>
</section>


<!-- <div id="page1">
    About page content goes here.
</div>

<div id="page2">
    Portfolio page content goes here.
</div>

<div id="page3">
    Contact page content goes here.
</div> -->
