<section id="home" data-type="background" data-speed="10" class="pages">
  <article>I am absolute positioned</article>
</section>

<section id="about" data-type="background" data-speed="10" class="pages">
  <article>Simple Parallax Scroll</article>
</section>


<!-- <div id="page1">
  <a id="about" class="smooth"></a>
    About page content goes here.
</div>

<div id="page2">
  <a id="portfolio" class="smooth"></a>
    Portfolio page content goes here.
</div>

<div id="page3">
  <a id="contact" class="smooth"></a>
    Contact page content goes here.
</div> -->
