<h1>Today's Cannabis News</h1>


<ul>
  <% @news.each do |site| %>
    <li><h3><%= site[:name] %></h3></li>
    <% site[:articles].each_with_index do |article, index| %>
      <li class="article-number">Article <%= index + 1 %>:</li>
      <li class="article-title"><%= link_to article[:title], article[:link], :target => '_blank' %></li>
    <% end %>
  <% end %>
</ul>
