<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="news-header center">
      <h1>Today's Cannabis News</h1>
    </div>

    <div class="all-news green-text container">
      <% @news.each do |site| %>
        <div class="container">
          <ul class="news-articles collection with-header">
            <li class="collection-header"><h3><%= site[:name] %></h3></li>
            <% site[:articles].each_with_index do |article, index| %>
              <li class="collection-item">
                <%= index + 1 %>. <%= link_to article[:title], article[:link], :target => '_blank' %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </body>
</html>
