$gray: #eaeaea;
$light-blue: #c0d6df;
$blue-gray: #4f6d7a;
$tan: #e8dab2;
$orange: #dd6e42;
$white: #ffffff;

#home {
  background: url(Depositphotos_5239031_l-2015.jpg) 50% 0 repeat fixed; height: 500px;
  background-position: top;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;

  article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 200px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    h1 {
      font-family: 'Kaushan Script', cursive;
      color: $gray;
    }
    h2 {
      color: $gray;
    }
  }
}

#about {
  background: url(page1-background.jpg) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);

  article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
  }
}

#page3 {
  height: 1000px;
}

#logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

.box {
  max-width: 300px;
}

.top-bar {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  font-family: Roboto, sans-serif;
  height: 50px;

  ul {
    background-color: inherit;
  }

  .top-bar-left {
    float: left;
    margin-left: 50px;
    padding-top: 7px;
    li {
      display: inline;
      list-style: none;
      margin-left: 20px;
    }
  }

  .top-bar-title {
    float: left;
  }
}
