$gray: #eaeaea;
$light-blue: #c0d6df;
$blue-gray: #4f6d7a;
$tan: #e8dab2;
$orange: #dd6e42;
$white: #ffffff;
$black: #000000;

a#logo-container.brand-logo {
  font-family: 'Kaushan Script', cursive;
  color: $black;
}

ul.right a {
  color: $black;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.contact-submit {
  background: #FFA000;
  border: 1px solid #FFA000;
}

.flash {
  text-align: center;
}

.investment-op {
  margin: 0;
}
