<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', ENV['GOOGLE_ANALYTICS'], 'auto');
  ga('send', 'pageview');
</script>


<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <h5 class="white-text center">Company Bio</h5>
        <p class="grey-text text-darken-3">
          Founded in 2013 to represent a strong group of investors and changemakers,
          we see Legitimate Cannabis as the opportunity of a century to generate
          innovative agricultural solutions.
        </p>
      </div>
      <div class="company-profile col l6 s12">
        <h5 class="white-text center">Ben Simon - Chief Executive Officer</h5>
        <div>
          <p class="grey-text text-darken-3">
            Ben is Co-Founder of Simia Capital, bringing a deep entrepreneurial past,
            soil-less agriculture expertise, and the drive to build a better farm system.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l6">
        <h5 class="white-text center">Current Investment Opportunities</h5>
        <ul class="investment-ops">
          <li><p class="grey-text text-darken-3 investment-op">
            Hydroponic Operations
          </p></li>
          <li><p class="grey-text text-darken-3 investment-op">
            The Legitimate Cannabis Industry
          </p></li>
          <li><p class="grey-text text-darken-3 investment-op">
            Ancillary Farm Support
          </p></li>
        </ul>
      </div>
      <div class="company-profile col l6 s12">
        <h5 class="white-text center">Carl Venezia - Chief Operating Officer</h5>
        <div>
          <p class="grey-text text-darken-3">
            Co-Founder with a successful entrepreneurial background and a vision to improve our farms.
            Carl enhances the team as a soil engineer and software developer.
          </p>
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="footer-copyright">
    <div class="container">
    Grown and Watered by Simia, Inc.
    </div>
  </div>
</footer>
